name: Build and Push Ruby Docker Image for Ubuntu 22.04

on:
  workflow_dispatch:
  schedule:
    # UTC 15:10 on Thursday
    # JST 0:10 on Friday
    - cron: "10 15 * * 4"

env:
  LATEST_RUBY_VERSION: "4.0.0"

jobs:
  build-latest:
    name: Build Ruby "4.0.0" (latest)
    runs-on: ubuntu-latest
    outputs:
      cache-bust: ${{ steps.cache-bust.outputs.value }}
    steps:
      - name: Calculate cache-bust value
        id: cache-bust
        run: echo "value=$(date +%Y-%W)" >> $GITHUB_OUTPUT
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/docker_hub_push
        with:
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          ruby-version: ${{ env.LATEST_RUBY_VERSION }}
          enable-cache-to: "true"
          cache-bust: ${{ steps.cache-bust.outputs.value }}

  build-others:
    name: Build Ruby ${{ matrix.ruby-version }}
    needs: build-latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        exclude:
          # Exclude the latest version since it's already built
          - ruby-version: "4.0.0"
        ruby-version: [
          3.0.0, 3.0.1, 3.0.2, 3.0.3, 3.0.4, 3.0.5, 3.0.6, 3.0.7,
          3.1.0, 3.1.1, 3.1.2, 3.1.3, 3.1.4, 3.1.5, 3.1.6, 3.1.7,
          3.2.0, 3.2.1, 3.2.2, 3.2.3, 3.2.4, 3.2.5, 3.2.6, 3.2.7, 3.2.8, 3.2.9,
          3.3.0, 3.3.1, 3.3.2, 3.3.3, 3.3.4, 3.3.5, 3.3.6, 3.3.7, 3.3.8, 3.3.9, 3.3.10,
          3.4.0, 3.4.1, 3.4.2, 3.4.3, 3.4.4, 3.4.5, 3.4.6, 3.4.7, 3.4.8,
          4.0.0
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/docker_hub_push
        with:
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          ruby-version: ${{ matrix.ruby-version }}
          enable-cache-to: "false"
          cache-bust: ${{ needs.build-latest.outputs.cache-bust }}
